.container{
    color: #053667;
}

.row{
    margin-top: 10px;
    flex-wrap: nowrap;
}

.card{
    text-align: center
}

.table{
    color: #053667;
}

.table tr:hover {
    background-color: azure;
    cursor: pointer;
}

.table i:hover{
    opacity: .3;
}

.spinner-grow{
    position: fixed;
    margin-top: 20%;
    z-index: 9999;
}

.filtros{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.filtro{
    display: flex;
    gap: 10px;
}

.image-button{

    padding: 5px; /* ajusta el relleno según tus necesidades */
    background-color: transparent; /* quita el fondo del botón */
    border: none;
    cursor: pointer;
  }