<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <!-- FORMULARIO DE RESTRICCIONES -->
        <div *ngIf="mostrarAbmRestricciones"  class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Restricción Perimetral</legend>
                    <form #restriccionForm="ngForm" (ngSubmit)="guardarRestriccion(restriccionForm)" novalidate>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" type="tel" name="dniVictimario" placeholder="DNI Victimario"
                                    ngbTooltip="DNI victimario" [(ngModel)]="victimario.dni">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        (click)="agregarVictimario()" [disabled]="victimario.dni === ''">
                                        <i class="small material-icons">person_add</i>
                                    </button>
                                </div>
                            </div>
                            <label id="labelVictimario"></label>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" type="tel" name="dniDamnificada"
                                    placeholder="DNI Damnificada" ngbTooltip="DNI damnificada"
                                    [(ngModel)]="damnificada.dni">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        (click)="agregarDamnificada()" [disabled]="damnificada.dni === ''">
                                        <i class="small material-icons">person_add</i>
                                    </button>
                                </div>
                            </div>
                            <label id="labelDamnificada"></label>
                        </div>
                        <div class="row">
                            <select name="" id="" [(ngModel)]="grupoSeleccionado">
                                <option value={{grupo}} *ngFor="let grupo of grupos">
                                    {{"Grupo "+grupo}}
                                </option>
                            </select>
                        </div>
                        <div class="row">
                            <input class="form-control" type="number" name="distancia" placeholder="Distancia"
                                ngbTooltip="Distancia restricción" #distancia="ngModel"
                                [ngClass]="{ 'is-invalid': distancia.invalid && distancia.touched, 'is-valid': distancia.valid}"
                                [(ngModel)]="restriccion.distancia" pattern="^[0-9]+" required>
                            <div class="invalid-feedback d-block"
                                *ngIf="distancia.invalid && (distancia.dirty || distancia.touched)">
                                Distancia requerida
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <input class="form-control" placeholder="Fecha (Año-Mes-Día)" name="dp"
                                    [(ngModel)]="restriccion.fechaSentencia" ngbDatepicker #d="ngbDatepicker"
                                    ngbTooltip="Fecha de sentencia" [minDate]="{year: 1900, month: 1, day: 1}"
                                    [maxDate]="maxDatePicker" readonly required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button">
                                        <i class="small material-icons">event</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary btn-block" [disabled]="!restriccionForm.valid">
                                Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABLA DE RESTRICCIONES -->
        <div class="col" *ngIf="mostrarAbmRestricciones">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Victimario</th>
                        <th scope="col">Damnificada</th>
                        <th scope="col">Administrativo</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let restriccion of restriccionService.restricciones">
                        <td>{{restriccion.victimario.apellido}}</td>
                        <td>{{restriccion.damnificada.apellido}}</td>
                        <td>{{restriccion.administrativo.email}}</td>
                        <td>{{restriccion.restriccion.idGrupo}}</td>
                        <td>
                            <a (click)="editarRestriccion(restriccion)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="eliminarRestriccion(restriccion)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- FILTROS -->
        <div class="filtros" *ngIf="mostrarAbmRestricciones">

            <button class="image-button" (click)="toggleSelect()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16" style="width: 24px; height: 24px;">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
                  </svg>

             </button>

            <div class="filtro"  *ngIf="showSelect">
                <input type="text" [(ngModel)]="dniFilterDamnificada" placeholder="Ingresa el DNI Damnificada">
                <button (click)="filtrarDamnificada()">Filtrar</button>


            </div>

            <div class="filtro" *ngIf="showSelect">
                <input type="text" [(ngModel)]="dniFilterVictimario" placeholder="Ingresa el DNI Victimario">
                <button (click)="filtrarVictimario()">Filtrar</button>


            </div>

            <div class="filtro" *ngIf="showSelect">
                <input type="text" [(ngModel)]="emailFilter" placeholder="Ingresa el EMAIL Administrativo">
                <button (click)="filtrarAdministrativo()">Filtrar</button>
            </div>
        </div>

    </div>

     <!-- Grupos-------------------------------------------------------------------------->


     <form *ngIf="mostrarGrupoRestricciones" action="GET" (ngSubmit)="crearGrupo()">
        <h1 class="titulo">Nuevo grupo</h1>
        <div class="formulario-equipo">
            <input type="text" placeholder="Nombre del nuevo equipo" [(ngModel)]="nombreEquipo">
            <select name="" id="" [(ngModel)]="turnoGrupo">
                <option value="MAÑANA">Mañana</option>
                <option value="TARDE">Tarde</option>
                <option value="NOCHE">Noche</option>
            </select>
            <button class="boton-nuevo-equipo">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </button>
        </div>
    </form>




    <form class="seleccionar-grupo" *ngIf="mostrarGrupoRestricciones" action="GET" (ngSubmit)="(getGrupo())">
        <h3 class="titulo">Seleccionar grupos</h3>
        <select name="" id="" [(ngModel)]="grupoSeleccionado">
            <option value={{grupo}} *ngFor="let grupo of grupos">
                {{"Grupo "+grupo}}
            </option>
        </select>

        <button>SI</button>
    </form>

    <div *ngIf="mostrarGrupo && mostrarGrupoRestricciones">
        <h4 class="titulo">{{"Grupo "+grupoActual.idGrupo}}</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                   <th >Administrativos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuariosDelGrupo">
                    <td>{{user.email}}</td>
                </tr>
            </tbody>

        </table> 
        <table class="table table-striped">
            <thead>
                <tr>
                   <th>Identificación de la Restricciónes</th>
                   <th>Distancias</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restriccion of restriccionesDelGrupo">
                    <td>{{restriccion.idRestriccion}}</td>
                    <td>{{restriccion.distancia}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <div>
        
        <div class="boton-cambio-pantalla" *ngIf="mostrarAbmRestricciones" (click)="cambiarVista()">
            Grupos
            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </div>
        <div  class="boton-cambio-pantalla"  *ngIf="mostrarGrupoRestricciones" (click)="cambiarVista()">
            Restricciones
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </div>

        
       
    </div>


</div>