<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <!-- FORMULARIO DE RESTRICCIONES -->
        <div *ngIf="mostrarAbmRestricciones"  class="col-4">
            <div class="card" style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Añadir restricción</legend>
                    <form #restriccionForm="ngForm" (ngSubmit)="guardarRestriccion(restriccionForm)" novalidate>
                        <div class="personas-a-vigilar">
                            <div class="row input-texto-before-damnificada" [ngClass]="{ 'error': errorCampoDamnificada}">
                                <div class="input-group">
                                    <input class="form-control input-texto" type="tel" name="dniDamnificada"
                                         ngbTooltip="DNI damnificada"
                                        [(ngModel)]="damnificada.dni">
                                </div>
                            </div>
                            <div class="row input-texto-before-victimario" [ngClass]="{ 'error': errorCampoVictimario}">
                                <div class="input-group">
                                    <input class="form-control input-texto" type="tel" name="dniVictimario" 
                                    ngbTooltip="DNI victimario" [(ngModel)]="victimario.dni">
                                </div>
                            </div>
                        </div>
                        <div class="row input-before-selector-grupos" [ngClass]="{ 'error': errorCampoSelectorGrupo}">
                            <select class="select-estilo" name="" id="" [(ngModel)]="grupoSeleccionado">
                                <option value={{grupo}} *ngFor="let grupo of grupos">
                                    {{"Grupo "+grupo}}
                                </option>
                            </select>
                        </div>
                        <div class="row input-before-selector-distancia" [ngClass]="{ 'error': errorCampoDistancia}">
                            <input class="form-control select-estilo " type="number" name="distancia" placeholder="Distancia"
                                ngbTooltip="Distancia restricción" #distancia="ngModel" min="200"
                                [ngClass]="{ 'is-invalid': distancia.invalid && distancia.touched, 'is-valid': distancia.valid}"
                                [(ngModel)]="restriccion.distancia" pattern="^[0-9]+" required>
                            <div class="invalid-feedback d-block"
                                *ngIf="distancia.invalid && (distancia.dirty || distancia.touched)">
                                Distancia requerida
                            </div>
                        </div>
                        <div class="row input-before-selector-fecha " [ngClass]="{ 'error': errorCampoFecha}">
                            <div class="input-group">
                                <input class="form-control" placeholder="Fecha (Año-Mes-Día)" name="dp"
                                    [(ngModel)]="restriccion.fechaSentencia" ngbDatepicker #d="ngbDatepicker"
                                    ngbTooltip="Fecha de sentencia" [minDate]="{year: 1900, month: 1, day: 1}"
                                    [maxDate]="maxDatePicker" readonly required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                        type="button">
                                        <i class="small material-icons">event</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- [disabled]="!restriccionForm.valid"-->
                            <button class="btn">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABLA DE RESTRICCIONES -->
        <div class="col" *ngIf="mostrarAbmRestricciones">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Victimario</th>
                        <th scope="col">Damnificada</th>
                        <th scope="col">Administrativo</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let restriccion of restriccionService.restricciones">
                        <td>{{restriccion.victimario.apellido}}</td>
                        <td>{{restriccion.damnificada.apellido}}</td>
                        <td>{{restriccion.administrativo.email}}</td>
                        <td>{{restriccion.restriccion.idGrupo}}</td>
                        <td>
                            <a (click)="editarRestriccion(restriccion)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="eliminarRestriccion(restriccion)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- FILTROS -->
        <div class="filtros" *ngIf="mostrarAbmRestricciones">

            <button class="image-button" (click)="toggleSelect()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16" style="width: 24px; height: 24px;">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
                  </svg>

             </button>

            <div class="filtro"  *ngIf="showSelect">
                <input type="text" [(ngModel)]="dniFilterDamnificada" placeholder="Ingresa el DNI Damnificada">
                <button (click)="filtrarDamnificada()">Filtrar</button>


            </div>

            <div class="filtro" *ngIf="showSelect">
                <input type="text" [(ngModel)]="dniFilterVictimario" placeholder="Ingresa el DNI Victimario">
                <button (click)="filtrarVictimario()">Filtrar</button>


            </div>

            <div class="filtro" *ngIf="showSelect">
                <input type="text" [(ngModel)]="emailFilter" placeholder="Ingresa el EMAIL Administrativo">
                <button (click)="filtrarAdministrativo()">Filtrar</button>
            </div>
        </div>

    </div>

     <!-- Grupos-------------------------------------------------------------------------->

    <div class="contenedor-grupos">
        <form *ngIf="mostrarGrupoRestricciones" action="GET" (ngSubmit)="crearGrupo()" class="card formulario-grupo">
            <legend>Nuevo grupo</legend>
                <input type="text" placeholder="Nombre del nuevo equipo" [(ngModel)]="nombreEquipo">
                <select name="" id="" [(ngModel)]="turnoGrupo">
                    <option value="MAÑANA">Mañana</option>
                    <option value="TARDE">Tarde</option>
                    <option value="NOCHE">Noche</option>
                </select>
                <button class="boton-nuevo-equipo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                    </svg>
                </button>
        </form>




        <form class="seleccionar-grupo" *ngIf="mostrarGrupoRestricciones" action="GET" (ngSubmit)="(getGrupo())" class="card formulario-grupo">
            <legend class="titulo">Seleccionar grupos</legend>
            <select name="" id="" [(ngModel)]="grupoSeleccionado">
                <option value={{grupo}} *ngFor="let grupo of grupos">
                    {{"Grupo "+grupo}}
                </option>
            </select>

            <button>SI</button>
        </form>

    </div>  

    <div *ngIf="mostrarGrupo && mostrarGrupoRestricciones">
        <h4 class="titulo">{{"Grupo "+grupoActual.idGrupo}}</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                   <th >Administrativos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuariosDelGrupo">
                    <td>{{user.email}}</td>
                </tr>
            </tbody>

        </table> 
        <table class="table table-striped">
            <thead>
                <tr>
                   <th>Identificación de la Restricciónes</th>
                   <th>Distancias</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restriccion of restriccionesDelGrupo">
                    <td>{{restriccion.idRestriccion}}</td>
                    <td>{{restriccion.distancia}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <div>
        
        <button class="boton-cambio-pantalla btn" *ngIf="mostrarAbmRestricciones" (click)="cambiarVista()">
            Grupos
        </button>
        <button  class="boton-cambio-pantalla btn"  *ngIf="mostrarGrupoRestricciones" (click)="cambiarVista()">
            Restricciones
        </button>

        
       
    </div>


</div>