<!--Spinner ---------------------------------------------->

<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container" [ngClass]="{'blurred': modalAbierta}">
    <!--Agregar restricciones fisicas ---------------------------------------------->
    <form #restriccionLForm="ngForm" class="card form-control" (ngSubmit)="buscarPersona()" action="POST" novalidate>
        <legend class="titulo">Agregar restriccion multiple</legend>

        <div class="input-texto-before-dni">
            <input class="form-control input-texto" [(ngModel)]="dni" name="dni" type="text">
        </div>

        <div class="input-texto-before-calle">
            <input class="form-control input-texto calle" [(ngModel)]="calle" name="calle" type="text">
        </div>

        <div class="input-texto-before-altura">
            <input class="form-control input-texto altura" [(ngModel)]="altura" name="altura" type="text">
        </div>

        <div class="input-texto-before-piso">
            <input class="form-control input-texto piso" [(ngModel)]="piso" name="piso" type="text">
        </div>

        <div class="input-texto-before-departamento">
            <input class="form-control input-texto departamento" [(ngModel)]="departamento" name="departamento"
                type="text">
        </div>

        <div class="input-texto-before-distancia">
            <input class="form-control input-texto distancia" [(ngModel)]="distancia" name="distancia" type="number"
                min="200" value="200">
        </div>


        <div class="input-select-before input-select-before-perimetral">
            <select name="restriccion" [(ngModel)]="idPerimetral" class="select-estilo">
                <option disabled>Restriccion perimetral</option>
                <option value={{res.restriccion.idRestriccion}} *ngFor="let res of restriccionesPerimetrales">
                    {{"Perimetral Nro° "+res.restriccion.idRestriccion}}
                </option>
            </select>
        </div>
        <div class="input-select-before input-select-before-provincia">
            <select name="provincia" [(ngModel)]="idProvincia" class="select-estilo">
                <option disabled></option>
                <option value={{provincia.idProvincia}} *ngFor="let provincia of provincias"
                    (click)="traerLocalidades()">
                    {{provincia.nombre}}
                </option>
            </select>
        </div>
        <div class="input-select-before  input-select-before-localidad">
            <select name="localidad" [(ngModel)]="idLocalidad" class="select-estilo">
                <option disabled>Elegí una localidad</option>
                <option value={{localidad.idLocalidad}} *ngFor="let localidad of localidades">
                    {{localidad.nombre}}
                </option>
            </select>
        </div>
        <button (click)="editarRestriccionMultiple()" class="btn" *ngIf="editar">
            Editar
        </button>
        <button (click)="desactivarEdicion()" class="btn" *ngIf="editar">
            Volver
        </button>
        <button class="btn" *ngIf="!editar">
            Agregar
        </button>


    </form>

    <!-- TABLA DE RESTRICCIONES FISICAS --------------------->
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <div class="header-tabla">
                            ID Perimetral
                            <a (click)="ordenarPorID()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            ID RM
                            <a (click)="ordenarPorRM()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Direccion
                            <a (click)="ordenarPorDireccion()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Localidad
                            <a (click)="ordenarPorLocalidad()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>

                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Provincia
                            <a (click)="ordenarPorProvincia()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Operaciones
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of restriccionesMultiples">
                    <td>{{res.restriccionMultiple.idRestriccion}}</td>
                    <td>{{res.restriccionMultiple.idRestriccionMultiple}}</td>
                    <td>{{res.restriccionMultiple.direccion.calle + " " +res.restriccionMultiple.direccion.altura}}</td>
                    <td>{{res.localidad.nombre}}</td>
                    <td>{{res.provincia.nombre}}</td>
                    <td>
                        <a>
                            <i (click)="activarEdicion(res)" class="material-icons">edit</i>
                        </a>
                        <a>
                            <i (click)="eliminarRestriccionMultiple(res.restriccionMultiple.idRestriccionMultiple)"
                                class="material-icons">delete</i>
                        </a>
                        <a>
                            <i class="material-icons" (click)="masInfo(res)">info</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>



    <!-- FILTROS -->
    <div class="contenedor-filtros" >

        <div class="filtro">

            <button class="image-button" (click)="toggleSelect()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-funnel-fill" viewBox="0 0 16 16" style="width: 24px; height: 24px;">
                    <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                </svg>
            </button>

        </div>


        <div class="card2 caja-filtros" *ngIf="showSelect">

            <div class="card-body">
                <legend>Filtrar por:</legend>

                <div class="traer-todo">
                    <button class="btn btn-primary btn-block" (click)="traerTodos()">Obtener todos</button>
                </div>

                <!-- FILTRO id restriccion padre-->
                <div class="row input-texto-before-idpadre filtro">
                    <div class="filtro-btn" input-group>
                        <input class="form-control input-texto" type="text" name="idpadre"
                            [(ngModel)]="idPadreFilter">
                    </div>
                </div>
                <!-- FILTRO id restriccion a persona-->
                <div class="row input-texto-before-idresP filtro">
                    <div class="filtro-btn " input-group>
                        <input class="form-control input-texto" type="text" name="idresP"
                            [(ngModel)]="idFilter">
                    </div>
                </div>

                <div class="boton-filtro">
                    <button class="btn btn-primary btn-block" (click)="filtrarTodo()">Filtrar</button>
                </div>
            </div>


        </div>


    </div>

</div>


<!-- DIV MAS INFO VENTANA MODAL-->
<div class="modal-info" *ngIf="modalAbierta" (click)="cerrarModal()">
    <div class="modal-container">
        <div class="modal-header">
            <h2>Restricción Perimetral # {{infoResID}}-{{infoResIDM}}</h2>
            <i class="material-icons" (click)="cerrarModal()">close</i>
        </div>

        <div class="modal-body">

            <!-- INFO Domicilio-->
            <div class="modal-infoPer input-texto-before-admin">
                <p class="input-texto-before-infoNP"><strong>{{infoNombrePersona}}</strong></p>
                <p class="input-texto-before-infoDNI"><strong>{{infoDNI}}</strong></p>
                <p class="input-texto-before-infoFN"><strong>{{infoNacimiento}}</strong></p>
                <p class="input-texto-before-infoT"><strong>{{infoTelefono}}</strong></p>

            </div>
            <!-- INFO Domicilio-->
            <div class="modal-infoAdm input-texto-before-admin">
                <p class="input-texto-before-infoD"><strong>{{infoDireccion}}</strong></p>
                <p class="input-texto-before-infoDD"><strong>{{infoDepto}}</strong></p>
                <p class="input-texto-before-infoP"><strong>{{infoProvincia}}</strong></p>
                <p class="input-texto-before-infoL"><strong>{{infoLocalidad}}</strong></p>
                <p class="input-texto-before-infoCP"><strong>{{infoCodigoPostal}}</strong></p>
                <p class="input-texto-before-infoDis"><strong>{{infoDistancia}}</strong></p>
            </div>

        </div>
    </div>





    
    
    
    




    
    
</div>