.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


/*Tabla de restricciones*/
th {
  background-color: #480971;
  color: #ffffff;
}

.material-icons {
  color: #480971;
  cursor: pointer;
}

.ordenamiento {
  color: white;
}

.table thead th {
  align-content: center;
}

.header-tabla {
  display: flex;
  justify-content: center;
}




/*Formulario para nuevas restricciones*/
.card {
  background-color: #8d3aff63;
  color: black;
  padding: 2.5rem;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;

}


.btn {
  background-color: #480971;
  color: white;
  width: max-content;
  margin-top: 1rem;
}


/*Ingreso de datos  */

.input-texto-before {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

/*Inputs before*/
.input-texto-before-dni::before {
  content: "Dni de la persona *";
  text-align: left;
}

.input-texto-before-calle::before {
  content: "Calle *";
  text-align: left;
}

.input-texto-before-altura::before {
  content: "Altura *";
  text-align: left;
}

.input-texto-before-piso::before {
  content: "Piso *";
  text-align: left;
}

.input-texto-before-departamento::before {
  content: "Departamento *";
  text-align: left;
}


.input-texto-before-distancia::before {
  content: "Distancia de la restricción *";
  text-align: left;
}

/*Select before*/




.input-select-before {
  display: flex;
  flex-direction: column;
}

.input-select-before-perimetral::before {
  content: "Elegí la restricción perimetral vinculada *";
  text-align: left;
}

.input-select-before-provincia::before {
  content: "Seleccionar Provincia *";
  text-align: left;
}

.input-select-before-localidad::before {
  content: "Seleccionar Localidad *";
  text-align: left;
}




.input-texto {
  background-color: inherit;
  border: 0px solid #fff;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding: 0;
}


.select-estilo {
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  background-color: white;
  color: black;
}



/*Animación titulo*/
legend::after {
  content: "";
  border-bottom: 5px solid #480971;
  display: flex;
  animation-name: animacionafter;
  animation-duration: 3s;
  animation-iteration-count: 1;
}


@keyframes animacionafter {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}


/* filtros*/

.contenedor-filtros {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  max-width: fit-content;
}

.filtro {
  color: #480971;
  display: flex;
  gap: 10px;
  max-width: fit-content;
}

.image-button {
  border-color: transparent;
  color: #480971;
  background-color: transparent;
}

.boton-filtro {
  padding: 10px;
}

.filtro-btn {
  display: flex;
  padding: 0;
}

.input-texto-before-idpadre,
.input-texto-before-idresP {
  display: flex;
  flex-direction: column;
}

.input-texto-before-idpadre::before {
  content: "ID restricción perimetral:";
  font-size: 0.9rem;
  text-align: left;
}

.input-texto-before-idresP::before {
  content: "ID restricción múltiple - persona:";
  font-size: 0.9rem;
  text-align: left;
}
.card2 {
  border: 1px solid black;
  color: black;
  padding: 2rem;
  max-width: fit-content;
  border-radius: 0.5rem;
}