.container{
    color: #053667;
}

.row{
    margin-top: 10px;
}


/*Estilos card*/

.card{
    text-align: left;
    background-color: #fff;
    padding: 2.5rem;
}

/*Estilos tabla*/


th{
    background-color: #000;
    color: #fff;
}


.table{
    color: #053667;
}

.table tr:hover {
    background-color: azure;
    cursor: pointer;
}

.table i:hover{
    opacity: .3;
}

.spinner-grow{
    position: fixed;
    margin-top: 20%;
    z-index: 9999;
}




/*Estilos campos de ingreso de datos de texto */
.input-texto {
    background-color: #fff;
    border: 0px solid #fff;
    border-radius: 0;
    border-bottom: 1px solid black;
    padding: 0;
  }


  .input-texto-before{
    display: flex;
    flex-direction: column;
  }

  .input-texto-before-apellido::before{
    content: "Apellido de la persona *";
    font-size: 0.7rem;
    text-align: left;
  }

  .input-texto-before-nombre::before{
    content: "Nombre de la persona *";
    font-size: 0.7rem;
    text-align: left;
  }
  .input-texto-before-dni::before{
    content: "DNI de la persona *";
    font-size: 0.7rem;
    text-align: left;
  }

  .input-texto-before-telefono::before{
    content: "Teléfono de la persona *";
    font-size: 0.7rem;
    text-align: left;
  }

  .input-texto-before-email::before{
    content: "Email de la persona *";
    font-size: 0.7rem;
    text-align: left;
  }

  .input-texto-before-nacimiento::before{
    content: "Fecha de nacimiento de la persona *";
    font-size: 0.7rem;
    text-align: left;

  }

  .input-texto-before-altura{
    content: "Altura *";
    font-size: 0.7rem;
    text-align: left;
  }



  /*Estilo selector*/
  .select-estilo {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    color: black;
  }

  .input-selector-before-provincia::before{
    content: "Provincia *";
    font-size: 0.7rem;
    text-align: left;
  }

  .input-selector-before-localidad::before{
    content: "Localidad *";
    font-size: 0.7rem;
    text-align: left;
  }

  .input-selector-before-tipo::before{
    content: "Tipo de persona*";
    font-size: 0.7rem;
    text-align: left;
  }

  

/*Botones*/

.btn{
    width: fit-content;
    background-color: black;
    color: white;
}


.btn-verificar{
  margin-top: 1rem;
}





/*Animación legend*/

legend {
    color: black;
  }
  
  legend::after {
    content: "";
    border-bottom: 5px solid #212529;
    display: flex;
    animation-name: animacionafter;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  
  @keyframes animacionafter {
  
    0% {
      width: 0;
    }
  
    100% {
      width: 100%;
    }
  
  }
