<div class="container">
    <ngx-spinner type="ball-clip-rotate" size="medium" bdColor="rgba(51,51,51,0.3)" color="#26294D">
        <p style="font-size: 15px; font-weight: bold; color: #26294D">Cargando...</p>
    </ngx-spinner>

    
    <select class="select-estilo select-dia" name="dia">
        <option value="">Lunes</option>
        <option value="">Martes</option>
        <option value="">Miercoles</option>
        <option value="">Jueves</option>
        <option value="">Viernes</option>
        <option value="">Sabado</option>
        <option value="">Domingo</option>
    </select>

    <div class="container-elementos-configuracion">
        <form class="configuraciones">
                <div class="header-config">
                    <h3>Configuración</h3>
                    <select class="select-estilo select-perimetral" name="perimetral">
                        <option value="" disabled>Seleccione una perimetral</option>
                        <option value="">perimetral 1</option>
                    </select>
                </div>
               
                
                <div class="input-container">
                    <label class="cantidad-inputs" for="distancia-permitida">Distancia permitida</label>
                    <div class="label-cantidad">
                        <input [(ngModel)]="distancia" id="distancia-permitida" min="1" max="10" value="3" type="range" name="distancia-permitida">
                        <label>{{distancia}}</label>
                    </div>
                </div>
                <div class ="input-container">
                    <label class="cantidad-inputs" for="cantidad-epochs">Epochs</label>
                    <div class="label-cantidad">
                        <input  [(ngModel)]="epochs" id="cantidad-epochs" type="range" min="1" max="240" value="80" name="epochs">
                        <label>{{epochs}}</label>
                    </div>
                </div>
                <div class ="input-container">
                    <label class="cantidad-inputs" for="cantidad-inputs">Input length</label>
                    <div class="label-cantidad">
                        <input [(ngModel)]="inputlength" id="cantidad-inputs" type="range" min="1" max="50" value="25" name="input-length">
                        <label>{{inputlength}}</label>
                    </div>
                </div>
                <div class="input-container">
                    <label class="cantidad-inputs" for="cantidad-nunits">Nunits</label>
                    <div class="label-cantidad">
                        <input [(ngModel)]="units" id="cantidad-nunits" type="range" min="64" max="256" value="128" name="nunits">
                        <label>{{units}}</label>
                    </div>
                </div>
                <div class="input-container">
                    <label class="cantidad-inputs" for="cantidad-batch">Batch size</label>
                    <div class="label-cantidad">
                        <input [(ngModel)]="batch" id="cantidad-batch" min="64" max="512" value="256" type="range" name="batch-size">
                        <label>{{batch}}</label>
                    </div>
                </div>
                <input 
                type="file"
                id="csv"
                accept=".csv" (change)="readFile($event)"/>       
                <button class="btn">Entrenar</button>
        </form>
        <div class="scroll">
            <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Latitud</th>
                            <th scope="col">Longitud</th>
                            <th scope="col">Día de la semana</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fila of datosCsv">
                            <td>
                                {{fila[2]}}
                            </td>
                            <td>
                                {{fila[1]}}
                            </td>
                            <td>
                                {{fila[0]}}
                            </td>
                            <td>
                                {{fila[3]}}
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>

</div>