<div class="container">
    <ngx-spinner type="ball-clip-rotate" size="medium" bdColor="rgba(51,51,51,0.3)" color="#26294D">
        <p style="font-size: 15px; font-weight: bold; color: #26294D">Cargando...</p>
    </ngx-spinner>

    

    <div>
        <div>
            <h1>Configuración</h1>
            <select name="perimetral">
                <option value=""></option>
            </select>
            <input type="range" name="input-length">
            <input type="range" name="distancia-permitida">
            <input type="range" name="nunits">
            <input type="range" name="batch-size">

        </div>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Día de la semana</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        2
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


</div>