
<div class="container">

    <form #estadoForm="ngForm" class="form-control" (ngSubmit)="(actualizarEstado(estadoForm))" action="PUT" novalidate>
        <legend for="">Seleccionar disponibilidad</legend>
        <select class="select-estilo" name="estadoSeleccionado" 
        ngbTooltip="Estado de disponibilidad a elegir." [(ngModel)]="estadoSeleccionado">
            <option value="none" selected disabled>Selecciona tu estado actual</option> 
            <option *ngFor="let estado of estados"> 
                {{estado}}
            </option>
        </select>
        <button class="btn" ngbTooltip="Enviar nuevo estado de disponibilidad.">
            Cambiar
        </button>

        <div ngbTooltip="Estado actual del administrador." class="estado-actual">
        <i class="estado-nuevo">Estado actual: {{estadoActual}}</i>
        </div>
    </form>

    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr class="header">
                    <th scope="col">Administrativo</th>
                    <th scope="col">Estado</th>       
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuariosGrupo">
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.estadoUsuario}}</td>
                </tr>
            </tbody>
        </table>
    </div>

   

</div>
