 <!--Spinner ---------------------------------------------->

<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
    <!--Agregar restricciones fisicas ---------------------------------------------->
    <form #restriccionLForm="ngForm" class="card form-control"  action="POST" (ngSubmit)="agregarRestriccionFisica(restriccionLForm)" novalidate>
        <legend class="titulo">Agregar restriccion fisica</legend>

        <div class="input-texto-before-nombre">
            <input class="form-control input-texto nombre" name="nombre" [(ngModel)]="nombreRestriccion" type="text">
        </div>

        <div class="input-texto-before-calle">
            <input class="form-control input-texto calle" name="calle" [(ngModel)]="calle" type="text">
        </div>

        <div class="input-texto-before-altura">
            <input class="form-control input-texto altura" name="altura" [(ngModel)]="altura" type="text">
        </div>

        <div class="input-texto-before-piso">
            <input class="form-control input-texto piso"  name="piso" [(ngModel)]="piso" type="text">
        </div>

        <div class="input-texto-before-departamento">
            <input class="form-control input-texto departamento"  name="departamento" [(ngModel)]="departamento" type="text">
        </div>

        <div class="input-texto-before-distancia">
            <input class="form-control input-texto distancia"   name="distancia" [(ngModel)]="distancia" type="number" min="200" value="200">
        </div>

        
        <div class="input-select-before input-select-before-perimetral">
            <select  [(ngModel)]="restriccionSeleccionada" name="restriccion" class="select-estilo">
                <option disabled>Restriccion perimetral</option>
                <option value={{restriccionP.restriccion.idRestriccion}}  *ngFor="let restriccionP of restriccionesPerimetrales">
                    {{"Restriccion Nro°"+restriccionP.restriccion.idRestriccion}}
                </option>
            </select>
        </div>
        <div class="input-select-before input-select-before-provincia">
            <select  [(ngModel)]="provinciaSeleccionada" name="provincia" class="select-estilo">
                <option disabled>Elegí una provincia</option>
                <option value={{provincia.idProvincia}}  *ngFor="let provincia of provincias" (click)="obtenerLocalidades()">
                    {{provincia.nombre}}
                </option>
            </select>
        </div>
        <div class="input-select-before  input-select-before-localidad">
            <select   [(ngModel)]="localidadSeleccionada" name="localidad" class="select-estilo">
                <option disabled>Elegí una localidad</option>
                <option value={{localidad.idLocalidad}}  *ngFor="let localidad of localidades">
                    {{localidad.nombre}}
                </option>
            </select>
        </div>


        <button class="btn" *ngIf="editar" (click)="editarRestriccion()">
           Editar
        </button>
        <button class="btn" *ngIf="editar" (click)="editar=false">
           Volver
        </button>
        <button class="btn" *ngIf="!editar">
           Agregar
        </button>

    </form>
    <!-- TABLA DE RESTRICCIONES FISICAS --------------------->
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" >ID Restricción Física</th>
                    <th scope="col" >Nombre</th>
                    <th scope="col" >Direccion</th>
                    <th scope="col" >Localidad</th>
                    <th scope="col" >Provincia</th>
                    <th scope="col" >Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restriccion of restriccionesConInfo">
                    <td>{{restriccion.rpLugar.idRPLugar}}</td>
                    <td>{{restriccion.rpLugar.nombre}}</td>
                    <td>{{restriccion.rpLugar.direccion.calle+" "+restriccion.rpLugar.direccion.altura}}</td>
                    <td>{{restriccion.localidad.nombre}}</td>
                    <td>{{restriccion.provincia.nombre}}</td>
                    <td>
                        <a>
                            <i class="material-icons" (click)="pasarDatosAlFormulario(restriccion)">edit</i>
                        </a>
                        <a>
                            <i class="material-icons" (click)="eliminarRpFisica(restriccion.idRPLugar)">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

</div>
