

<div class="container">
    
    <form class="card"  action="POST" (ngSubmit)="agregarRestriccionFisica()">
        <legend class="titulo">Agregar restriccion fisica</legend>
        <button class="btn">Seleccionar</button>
    </form>
    <!-- TABLA DE RESTRICCIONES FISICAS --------------------->
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" >Id</th>
                    <th scope="col" >Nombre</th>
                    <th scope="col" >Direccion</th>
                    <th scope="col" >Localidad</th>
                    <th scope="col" >Provincia</th>
                    <th scope="col" >Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Prueba</td>
                    <td>Prueba</td>
                    <td>Prueba</td>
                    <td>Prueba</td>
                    <td>Prueba</td>
                    <td>
                        <a >
                            <i class="material-icons">edit</i>
                        </a>
                        <a>
                            <i class="material-icons">delete</i>
                        </a>
                        <a >
                            <i class="material-icons">info</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

</div>
