<!--Spinner ---------------------------------------------->

<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container2" [ngClass]="{'blurred': modalAbierta}">
    <!--Agregar restricciones fisicas ---------------------------------------------->
    <form #restriccionLForm="ngForm" class="card form-control" action="POST"
        (ngSubmit)="agregarRestriccionFisica(restriccionLForm)" novalidate>
        <legend class="titulo">Agregar restriccion fisica</legend>

        <div class="input-texto-before-nombre">
            <input class="form-control input-texto nombre" name="nombre" [(ngModel)]="nombreRestriccion" type="text">
        </div>

        <div class="input-texto-before-calle">
            <input class="form-control input-texto calle" name="calle" [(ngModel)]="calle" type="text">
        </div>

        <div class="input-texto-before-altura">
            <input class="form-control input-texto altura" name="altura" [(ngModel)]="altura" type="text">
        </div>

        <div class="input-texto-before-piso">
            <input class="form-control input-texto piso" name="piso" [(ngModel)]="piso" type="text">
        </div>

        <div class="input-texto-before-departamento">
            <input class="form-control input-texto departamento" name="departamento" [(ngModel)]="departamento"
                type="text">
        </div>

        <div class="input-texto-before-distancia">
            <input class="form-control input-texto distancia" name="distancia" [(ngModel)]="distancia" type="number"
                min="200" value="200">
        </div>


        <div class="input-select-before input-select-before-perimetral">
            <select [(ngModel)]="restriccionSeleccionada" name="restriccion" class="select-estilo">
                <option disabled>Restriccion perimetral</option>
                <option value={{restriccionP.restriccion.idRestriccion}}
                    *ngFor="let restriccionP of restriccionesPerimetrales">
                    {{"Restriccion Nro°"+restriccionP.restriccion.idRestriccion}}
                </option>
            </select>
        </div>
        <div class="input-select-before input-select-before-provincia">
            <select [(ngModel)]="provinciaSeleccionada" name="provincia" class="select-estilo" (change)="onProvinciaChange($event)">
                <option disabled selected>Elegí una provincia</option>
                <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia">
                    {{provincia.nombre}}
                </option>
            </select>
        </div>        
        <div class="input-select-before  input-select-before-localidad">
            <select [(ngModel)]="localidadSeleccionada" name="localidad" class="select-estilo">
                <option disabled>Elegí una localidad</option>
                <option value={{localidad.idLocalidad}} *ngFor="let localidad of localidades"
                    (click)="guardarLocalidad(localidad)">
                    {{localidad.nombre}}
                </option>
            </select>
        </div>


        <button class="btn" *ngIf="editar" (click)="editarRestriccion()">
            Editar
        </button>
        <button class="btn" *ngIf="editar" (click)="editar=false">
            Volver
        </button>
        <button class="btn" *ngIf="!editar">
            Agregar
        </button>

    </form>
    <!-- TABLA DE RESTRICCIONES FISICAS --------------------->
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <div class="header-tabla">
                            RP ID
                            <a (click)="ordenarPorIdR()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            ID
                            <a (click)="ordenarPorId()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Nombre
                            <a (click)="ordenarPorNombre()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>

                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Direccion
                            <a (click)="ordenarPorDireccion()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Localidad
                            <a (click)="ordenarPorLocalidad()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>
                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Provincia
                            <a (click)="ordenarPorProvincia()">
                                <i class="material-icons ordenamiento">unfold_more</i>
                            </a>
                        </div>

                    </th>
                    <th scope="col">
                        <div class="header-tabla">
                            Operaciones
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restriccion of restriccionesConInfo">
                    <td>{{restriccion.rpLugar.idRestriccion}}</td>
                    <td>{{restriccion.rpLugar.idRPLugar}}</td>
                    <td>{{restriccion.rpLugar.nombre}}</td>
                    <td>{{restriccion.rpLugar.direccion.calle+" "+restriccion.rpLugar.direccion.altura}}</td>
                    <td>{{restriccion.localidad.nombre}}</td>
                    <td>{{restriccion.provincia.nombre}}</td>
                    <td>
                        <a>
                            <i class="material-icons" (click)="pasarDatosAlFormulario(restriccion)">edit</i>
                        </a>
                        <a>
                            <i class="material-icons" (click)="eliminarRpFisica(restriccion.idRPLugar)">delete</i>
                        </a>
                        <a>
                            <i class="material-icons" (click)="masInfo(restriccion)">info</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- FILTROS -->
    <div class="contenedor-filtros" >

        <div class="filtro">

            <button class="image-button" (click)="toggleSelect()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-funnel-fill" viewBox="0 0 16 16" style="width: 24px; height: 24px;">
                    <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                </svg>
            </button>

        </div>


        <div class="card2 caja-filtros" *ngIf="showSelect">

            <div class="card-body">
                <legend>Filtrar por:</legend>

                <div class="traer-todo">
                    <button class="btn btn-primary btn-block" (click)="traerTodos()">Obtener todos</button>
                </div>

                <!-- FILTRO id restriccion padre-->
                <div class="row input-texto-before-idpadre filtro">
                    <div class="filtro-btn" input-group>
                        <input class="form-control input-texto" type="text" name="idpadre"
                            [(ngModel)]="idPadreFilter">
                    </div>
                </div>
                <!-- FILTRO id restriccion a persona-->
                <div class="row input-texto-before-idresP filtro">
                    <div class="filtro-btn " input-group>
                        <input class="form-control input-texto" type="text" name="idresP"
                            [(ngModel)]="idFilter">
                    </div>
                </div>

                <div class="boton-filtro">
                    <button class="btn btn-primary btn-block" (click)="filtrarTodo()">Filtrar</button>
                </div>
            </div>


        </div>


    </div>

</div>

<!-- DIV MAS INFO VENTANA MODAL-->
<div class="modal-info" *ngIf="modalAbierta" (click)="cerrarModal()">
    <div class="modal-container">
        <div class="modal-header">
            <h2>Restricción Perimetral # {{infoResIDP}}-{{infoResID}} </h2>
            <i class="material-icons" (click)="cerrarModal()">close</i>
        </div>

        <div class="modal-body">


            <!-- INFO Domicilio-->
            <div class="modal-infoAdm input-texto-before-admin">
                
                <p class="input-texto-before-infoN"><strong>{{infoNombre}}</strong></p>
                <p class="input-texto-before-infoD"><strong>{{infoDireccion}}</strong></p>
                <p class="input-texto-before-infoDD"><strong>{{infoDepto}}</strong></p>
                <p class="input-texto-before-infoP"><strong>{{infoProvincia}}</strong></p>
                <p class="input-texto-before-infoL"><strong>{{infoLocalidad}}</strong></p>
            </div>
            <!-- INFO RESTRICCION-->
            <div class="modal-infoRes">

                <!-- INFO DISTANCIA -->
                <div class="modal-infoRes1">
                    <p class="input-texto-before-infoDis"> <strong> {{infoDistancia}}</strong></p>
                </div>

            </div>

        </div>
    </div>

</div>