.container {
    color: #053667;
}

.table {
    color: #053667;
}

.row {
    margin-top: 10px;
}

.table tr:hover {
    background-color: azure;
    cursor: pointer;
}

.table i:hover {
    opacity: .3;
}

th {
    background-color: #480971;
    color: white;
}

.incidencia-head {
    background-color: #8d3aff63 ! important;
    color: black;

}


.table thead th {
    align-content: center;
  }

  .ordenamiento{
    color: white;
  }
  
  .header-tabla{
    display: flex;
    justify-content: center;
  }


.select-estilo {
    border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    background-color: white;
    color: black;
}

.select-estilo::before {
    content: "*";
    display: flex;
}



.btn-incidencia-filtro {

    background-color: #4f0083;
    color: white;
    border-radius: 50px;
    border-color: white;
    font-size: 12px;
    height: 32px;
    width: 70px;

}

.navbar-brand::after {

    content: "";
    border-bottom: 5px solid #480971;
    display: flex;
    animation-name: animacionafter;
    animation-duration: 3s;
    animation-iteration-count: 1;


}


@keyframes animacionafter {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

    
}

.image-button {
    background-color: #8d3aff63;
    border-color: transparent;
    color: #480971;
}

.filtro{

    position: absolute;
    display: contents;
}

.form-filtro{
    gap: 10px;
}

.edit-icon{
    color: #480971;
}



.btn-save{

    background-color: #4f0083;
    color: white;
    border-radius: 50px;
    border-color: white;
    font-size: 12px;
    height: 32px;
    width: 70px;


}

.pelig{
    display: flex;
    gap: 10px;
    height: 80px;
    align-items: center;
}