<div *ngIf="hayError" class="alert alert-danger" role="alert">
    aca deberia ir un error (*ngIf="hayError")
</div>
<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
    <div class="row">

        <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Usuario</legend>
                    <form #usuarioForm="ngForm" (ngSubmit)="agregarUsuario(usuarioForm)" novalidate>
                        <div class="row">
                            <input class="form-control" type="email" name="email" #email="ngModel" placeholder="Email"
                                [ngClass]="{ 'is-invalid': email.invalid && email.touched, 'is-valid': email.valid}"
                                [(ngModel)]="usuarioSeleccionado.email" ngbTooltip="Email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required email>
                            <div class="invalid-feedback d-block"
                                *ngIf="email.invalid && (email.dirty || email.touched)">
                                Email inválido
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group btn-block">
                                <select class="form-control" name="rolSeleccionado" [(ngModel)]="rolSeleccionado"
                                    ngbTooltip="Rol de usuario" required>
                                    <option value="" selected disabled>Seleccione un rol</option>
                                    <option *ngFor="let rol of roles">
                                        {{rol}}
                                    </option>
                                </select>

                                <select *ngIf="rolSeleccionado!='SUPERVISOR'" class="form-control" name="" [(ngModel)]="grupoSeleccionado"
                                    ngbTooltip="Grupo a trabajar" required>
                                    <option value="" selected disabled>Seleccione un grupo</option>
                                    <option value={{grupo}} *ngFor="let grupo of grupos">
                                        {{"Grupo "+ grupo}}
                                    </option>
                                </select>


                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" [disabled]="!usuarioForm.valid">Agregar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" (click)="ordenarPorUsuario()">Usuario</th>
                        <th scope="col" (click)="ordenarPorEstado()">Estado</th>
                        <th scope="col" (click)="ordenarPorRol()">Rol</th>
                        <th scope="col" (click)="ordenarPorGrupo()">Grupo</th>
                        <th scope="col">Operaciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarioService.usuarios">
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.estadoUsuario}}</td>
                        <td>{{usuario.rolDeUsuario}}</td>
                        <td>{{usuario.idGrupo}}</td>
                        <td>
                            <a (click)="editarUsuario(usuario)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="eliminarUsuario(usuario.idUsuario)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="contenedor-filtros">

                <div class="filtro">

                    <button class="image-button" (click)="toggleSelect()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16" style="width: 24px; height: 24px;">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
                          </svg>

                    </button>


                </div>


                <div class="x">

                    <button class="close-button" (click)="toggleSelect()" *ngIf="showSelect">&times;
                    </button>

                </div>


                <div class="contenedor-filtros2" *ngIf="showSelect">


                    <div class="select-container">

                        <select [(ngModel)]="selectedOption">
                            <option value="todos">Todos</option>
                            <option value="conectado">Estado: Conectado</option>
                            <option value="ausente">Estado: Ausente </option>
                            <option value="administrativo">Rol: Administrativo</option>
                            <option value="supervisor">Rol: Supervisor</option>
                        </select>
                    </div>
                    <div class="aplicar-filtro">
                        <button (click)="filtrar()">Filtrar</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>