th {
  background-color: #480971;
  color: white;
  cursor: pointer;
}

td {
  color: black;
  cursor: default;
}

.material-icons {
  cursor: pointer;
}


.table thead th {
  align-content: center;
}

.header-tabla{
  display: flex;
  justify-content: center;
}

.datos-solicitados {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
}

.input-texto {
  background-color: inherit;
  border: 0px solid #fff;
  border-radius: 0;
  border-bottom: 1px solid black;
 
}

/*Textos que describen los campos*/

.input-texto-before-email,
.input-before-selector-rol,
.input-before-selector-grupos,
.input-texto-before-email2
.input-texto-before-grupo,
.input-before-selector-rol2,
.input-before-selector-estado
{
  display: flex;
  flex-direction: column;
}

.input-texto-before-email::before {
  content: "Email *";
  font-size: 0.7rem;
  text-align: left;
}
.input-texto-before-email2::before {
  content: "Email:";
  font-size: 0.7rem;
  text-align: left;
}
.input-texto-before-grupo::before {
  content: "Grupo:";
  font-size: 0.7rem;
  text-align: left;
}

.input-before-selector-grupos::before {
  content: "Asignar grupo *";
  font-size: 0.7rem;
  text-align: left;
}

.input-before-selector-rol::before {
  content: "Asignar rol *";
  font-size: 0.7rem;
  text-align: left;
}
.input-before-selector-rol2::before {
  content: "Rol:";
  font-size: 0.7rem;
  text-align: left;
}
.input-before-selector-estado::before {
  content: "Estado:";
  font-size: 0.7rem;
  text-align: left;
}


/*Container*/


.container {
  color: #053667;
}

.row {
  margin-top: 10px;
  flex-wrap: nowrap;
}

.card {
  background-color: #8d3aff63;
  color: black;
  padding: 2.5rem;
}

.card2 {
  background-color: white;
  color: black;
  padding: 2.5rem;
  border: 1px solid black;
  max-width: fit-content;
  border-radius: 0.5rem;
}

.table {
  color: #053667;
}


.table tr:hover {
  background-color: azure;
  cursor: pointer;
}

.table i:hover {
  opacity: .3;
}

.spinner-grow {
  position: fixed;
  margin-top: 20%;
  z-index: 9999;
}


.image-button {

  padding: 5px;
  /* ajusta el relleno según tus necesidades */
  background-color: transparent;
  /* quita el fondo del botón */
  border: none;
  cursor: pointer;
}

/*Selects formulario*/

.select-estilo {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  height: 50px;
  background-color: white;
  color: black;
}

.select-estilo::before {
  content: "*";
  display: flex;
}


/*Iconos google fonts*/
.material-icons{
  color: #480971;
}

.ordenamiento{
  color: #fff;
}


.btn {
  background-color: #480971;
  color: white;
  border-radius: 50px;
}




/*Animación titulo css*/

.titulo::after {
  content: "";
  border-bottom: 5px solid #212529;
  display: flex;
  animation-name: animacionafter;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

legend {
  color: black;
}

legend::after {
  content: "";
  border-bottom: 5px solid #480971;
  display: flex;
  animation-name: animacionafter;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes animacionafter {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}

.bi-arrow-right {
  font-size: 2rem;
}


body{

  max-width: fit-content;
}

.filtro{
  color:#480971;
  max-width: fit-content;
}

.image-button {
  border-color: transparent;
  color: #480971;
}


.filtro-grupo{
  display: flex;
  flex-direction: column;
}

.input-grupo-filtro{
  padding: 0;
}

.contenedor-filtros{
  max-width: fit-content;
}

.app-administrar-usuarios{
  max-width: fit-content;
}