.container{
    color: #053667;
}

.row{
    margin-top: 10px;
}

.card{
    text-align: center
}

.table{
    color: #053667;
}

.label{
    margin-top: 15px;
}

.table tr:hover {
    background-color: azure;
    cursor: pointer;
}

.table i:hover{
    opacity: .3;
}

.filter-icon {
    cursor: pointer;
  }
  
  .select-container {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    top: 40px;
  }
  
  .select-container select {
    width: 200px; /* ajusta el ancho según tus necesidades */
    padding: 10px;
    border: none;
    background-color: transparent;
  }

  .contenedor-filtros{
    background-color: #ccc;
    width: fit-content;
    height: fit-content;
  }

  .contenedor-filtros2{
    background-color: #ccc;
    padding: 1rem;
    width: fit-content;
    height: 292px;


  }

.col{
    display: flex;

}

.close-button {

    float: right;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: 1098px;
  }

  .close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    padding: 10px 0;
    display: flex;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
  }

  .aplicar-filtro {
    text-align: right;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    top: 277px;
    left: 1050px;
    
  }
  
  .image-button{

    padding: 5px; /* ajusta el relleno según tus necesidades */
    background-color: transparent; /* quita el fondo del botón */
    border: none;
    cursor: pointer;
  }