<div *ngIf="hayError" class="alert alert-danger" role="alert">
    aca deberia ir un error (*ngIf="hayError")
</div>
<ngx-spinner type="ball-pulse-sync" size="medium" bdColor="rgba(51,51,51,0.5)">
    <p style="font-size: 15px; font-weight: bold; color: white">Cargando...</p>
</ngx-spinner>
<div class="container">
    <div class="row">
        <!--FORMULARIO DE AGREGAR NUEVO USUARIO-->
        <div class="col-4">
            <div class="card " style="max-width: 20rem;">
                <div class="card-body">
                    <legend>Añadir Usuario</legend>
                    <form #usuarioForm="ngForm" (ngSubmit)="agregarUsuario(usuarioForm)" novalidate>
                        <div class="datos-solicitados">

                            <div class="input-texto-before-email">
                                <div class=" " input-group>
                                    <input class="form-control input-texto" type="email" name="email" #email="ngModel"
                                        [ngClass]="{ 'is-invalid': email.invalid && email.touched, 'is-valid': email.valid}"
                                        [(ngModel)]="usuarioSeleccionado.email"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required email>
                                    <div class="invalid-feedback d-block"
                                        *ngIf="email.invalid && (email.dirty || email.touched)">
                                        Email inválido
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group btn-block input-before-selector-rol">
                            <select class="select-estilo" name="rolSeleccionado" [(ngModel)]="rolSeleccionado" required>
                                <option value="" selected disabled>Seleccione un rol</option>
                                <option *ngFor="let rol of roles">
                                    {{rol}}
                                </option>
                            </select>
                            <div class="form-group btn-block input-before-selector-grupos">
                                <select class="select-estilo" name="" id="" [(ngModel)]="grupoSeleccionado" required>
                                    <option value="" selected disabled>Seleccione un grupo</option>
                                    <option value={{grupo}} *ngFor="let grupo of grupos">
                                        {{"Grupo "+ grupo}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- [disabled]="!restriccionForm.valid"-->
                        <button class="btn btn-primary btn-block" [disabled]="!usuarioForm.valid">Agregar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="header-tabla">
                                ID
                                <a (click)="ordenarPorIDUser()">
                                    <i class="material-icons ordenamiento">unfold_more</i>
                                </a>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="header-tabla">
                                Usuario
                                <a (click)="ordenarPorUsuario()">
                                    <i class="material-icons ordenamiento">unfold_more</i>
                                </a>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="header-tabla">
                                Estado
                                <a (click)="ordenarPorEstado()">
                                    <i class="material-icons ordenamiento">unfold_more</i>
                                </a>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="header-tabla">
                                Rol
                                <a (click)="ordenarPorRol()">
                                    <i class="material-icons ordenamiento">unfold_more</i>
                                </a>

                            </div>
                        </th>
                        <th scope="col">
                            <div class="header-tabla">
                                Grupo
                                <a (click)="ordenarPorGrupo()">
                                    <i class="material-icons ordenamiento">unfold_more</i>
                                </a>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="header-tabla">
                                Operaciones
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarioService.usuarios">
                        <td>{{usuario.idUsuario}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.estadoUsuario}}</td>
                        <td>{{usuario.rolDeUsuario}}</td>
                        <td>{{getNombreGrupo(usuario.idGrupo)}} </td>
                        <td>
                            <a (click)="editarUsuario(usuario)">
                                <i class="material-icons">editar</i>
                            </a>
                            <a (click)="eliminarUsuario(usuario.idUsuario)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contenedor-filtros">
            <div class="filtro">
                <button class="image-button" (click)="toggleSelect()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-funnel-fill" viewBox="0 0 16 16" style="width: 24px; height: 24px;">
                        <path
                            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z" />
                    </svg>
                </button>
            </div>

            <div class="card2" *ngIf="showSelect">
                <div class="card-body">
                    <legend>Filtrar por:</legend>

                    <div class="row input-texto-before-grupo filtro-grupo">
                        <div class="input-grupo-filtro " input-group>
                            <input class="form-control input-texto" type="text" name="grupo" [(ngModel)]="grupoFilter">
                        </div>
                    </div>

                    <div class="row form-group btn-block input-before-selector-rol2">
                        <select class="select-estilo" name="rolSeleccionado" [(ngModel)]="selectedOptionRol">
                            <option value="todos">Todos</option>
                            <option value="administrativo">Administrativo </option>
                            <option value="supervisor">Supervisor</option>

                        </select>
                    </div>

                    <div class=" row form-group btn-block input-before-selector-estado">
                        <select class="select-estilo" name="estadoSeleccionado" [(ngModel)]="selectedOptionEstado">
                            <option value="todos">Todos</option>
                            <option value="conectado">Conectado</option>
                            <option value="ausente">Ausente </option>
                            <option value="fuera oficina">Fuera de oficina</option>
                            <option value="vacaciones">Vacaciones </option>
                            <option value="licencia">Licencia</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-primary btn-block" (click)="filtroMultiple()">Filtrar</button>
            </div>
        </div>
    </div>
</div>