<div class="container">
    <div class="contenedor-titulo">
        <nav class="navbar navbar-expand-lg navbar-light titulo-informes">
            <a class="navbar-brand"> Informes </a>
        </nav>
    </div>


    <div class="tabla-informes">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo de Informe</th>
                    <th class="columna-operaciones">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let informe of informes">
                    <td>{{ informe.tipo }}</td>
                    <td class="columna-operaciones">
                        <button ngbTooltip="Print" (click)="generarReportes(informe.tipo)">
                            <span class="material-icons">
                                print
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>



</div>