.container {
  color: black;
}

.table {
  color: #480971; 
}

.table thead th {
  align-content: center;
}

.header-tabla{
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  background-color: #8d3aff63;
  color: black;
  padding: 2.5rem;
  border: 1px solid black;
  width: 290px;
}

legend{
  text-align: center;
  margin-bottom: 10px;
}

.contenedor-filtros{
  margin-left: -15px;
}

.card2 {
  background-color: white; 
  color: black; 
  padding: 1.5rem;
  border: 1px solid black;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card2 legend {
  color: #480971;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card2 label {
  color: #480971;
}

.card2 input[type="date"],
.card2 select {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card2 button {
  background-color: #480971;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card2 button:hover {
  background-color: #6e1eff;
}

.form-group {
  margin-bottom: 10px; 
}


.btn-block {
  background-color: #480971;
  color: white;
}

.row {
  margin-top: 10px;
}

.form-group {
  margin-top: 10px;
}

.table i:hover {
  opacity: 0.3;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.spinner-grow {
  position: fixed;
  margin-top: 20%;
  z-index: 9999;
}

::ng-deep .modal-backdrop {
  z-index: 1040 !important;
}

.navbar {
  background-color: #8d3aff63;
}

.row {
  margin-top: 10px;
  flex-wrap: nowrap;
}

.table {
  color: #8d3aff63;
}

.table tr:hover {
  background-color: azure;
  cursor: pointer;
}

.table i:hover {
  opacity: .3;
}

.table thead th {
  background-color: #480971;
  color: white;
  padding: 5px; 
  text-align: left;
  padding-left: 20px;
  vertical-align: middle; 
  position: sticky;
  top: 0;
  z-index: 1;
}


.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px; 
  display: flex;
  align-items: center; 
}

.icon-button .material-icons {
  vertical-align: middle; 
  margin-left: 4px; 
}

.material-icons {
  color: white; 
}

.photo-icon{
  color: #480971;
}


.table i:hover {
  opacity: 0.3;
}

.spinner-grow {
  position: fixed;
  margin-top: 20%;
  z-index: 9999;
}

.image-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-color: transparent;
  color: #480971;
  margin-right: 15px;
  margin-top: 10px;
}

.image-button svg {
  vertical-align: middle; 
}

.select-estilo {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  background-color: white;
  color: black;
}

.select-estilo::before {
  content: "*";
  display: flex;
}

.dropdown-toggle{
  background-color: white;

}

.dropdown-toggle:hover {
  background-color: #480971;
  color: white;
}

label {
  margin-top: 10px;
}

.input-texto {
  background-color: inherit;
  border: 0px solid #fff;
  border-radius: 0;
  border-bottom: 1px solid black;
  padding: 0;
}

.input-texto-before-descripcion
 {
  display: flex;
  flex-direction: column;
  
}

.input-texto-before-descripcion::before {
  content: "Acción a realizar *";
  font-size: 0.7rem;
  text-align: left;
}

.navbar-brand::after,legend::after {
  content: "";
  border-bottom: 5px solid #480971;
  display: flex;
  animation-name: animacionafter;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.agregar-accion {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  margin-top: 10px;
  background-color: #480971;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregar-accion i {
  font-size: 24px; /* Tamaño del ícono */
  line-height: 40px; /* Alineación vertical */
}

.agregar-accion:hover {
  background-color: #6e1eff;
}

.form-group {
  margin-top: 10px;
}

select.select-estilo {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  background-color: white;
  color: black;
  padding: 0.5rem;
  margin-top: 10px;
}

.acciones{
  padding-top: 5px;
}

.nav-tabs .nav-link {
  color: #480971; 
  background-color: #fff; 
  border: 1px solid #eeeeee; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-tabs .nav-link:hover {
  color: white; 
  background-color: #480971; 
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #480971; 
  border: 1px solid #480971; 
}

.accordion-item {
  border: 1px solid #aaaaaa; 
  border-radius: 5px;
  margin-top: 10px;
}

.accordion-item:first-of-type {
  border-top: 1px solid #aaaaaa;
}

.accordion-item:last-of-type {
  border-bottom: 1px solid #aaaaaa;
}

.accordion-button {
  background-color: #fff; 
  color: #480971; 
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #480971; 
  color: white; 
}

.accordion-body {
  padding: 20px;
  background-color: #fff; 
}


@keyframes animacionafter {
  0% {
      width: 0;
  }
  100% {
      width: 100%;
  }
}
